.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  min-height: 50px;
  color: var(--header-color);
  background: var(--header-bg);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__logo {
    @media (max-width: 440px) {
      display: none;
    }
  }
}
