.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  &__field {
    display: flex;
    flex-direction: column;
    @media (max-width: 680px) {
      flex-basis: 100%;
    }
  }

  &__input {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 5px;
    border: 0;
  }

  &__label {
    padding-left: 5px;
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__select {
    font-size: 1.2rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
  }

  &__swap {
    width: 30px;
    height: 30px;
    background: url('/images/horizont_arrow.svg') no-repeat rgb(255, 255, 255);
    background-position: 50%;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;

    @media (max-width: 640px) {
      background: url('/images/vertical_arrow.svg') no-repeat rgb(255, 255, 255);
      background-position: 50%;
      margin-top: 0px;
    }
  }

  &__btns {
    flex-basis: 100%;
    text-align: center;
  }

  &__btn {
    padding: 10px 20px;
    color: var(--additional-color);
    background-color: var(--additional-bg);
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
  }
}
