.navigation {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;

  &__link {
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.2s ease-in;

    &:hover {
    text-decoration: underline;
    }
  }
  &__link_active {
    color: #0f7dc6;

  }
}
