.select {
  max-width: 350px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  flex-wrap: wrap;
  opacity: 1;
  transition: 0.3s ease-in;
  cursor: pointer;

  &__hide {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 680px) {
    max-width: 280px;
  }
}
